a {
  color: white;
  text-decoration: none;
}

a:active {
  color: #FFC900;
}

a[tabindex1]:focus {
  color: #FFC900;
  outline: none;
}

audio {
position:relative;
bottom:70px;
width:700px;
height:20px;
left:20px;
margin-bottom: -30px;

}

body {
  text-align: center;
  font-family: Roboto !important;
  font-weight: 200 !important;
  color: black;
}


.button_answers {
  border: 1px solid black;
  padding: 10px;
  color: white;
  background-color: white;

}

button {
  font-size: 25px;
  padding: 10px;
  color: white;
  background-color: white;
}


button:focus {
  background: gold;
}



h3 {
  margin: 4px;
  font-family: Roboto !important;
  font-size: 14pt !important;
  font-weight: 200 !important;
}


table {
  table-layout: auto;
  margin: auto;

}



.block {
  width: auto;
  display: inline-flex;
  margin-left: 30px;
}

.center {
  margin: auto;
}

.content {
  position: absolute;
  width: 100%;
  margin-top: 275px;
  background-color: white;
}

.count {
  width: 100%;
  background-color: #24A19C;
  color: white;
  font-size: 12px;
  margin-top: 0px;
  text-align: left;
  position: relative;

}

.CTA {
  position: absolute;
  font-size: 40px;
  max-width: 20%;
  text-align: right;
  margin-left: 300px;
  top: 500px;
  font-family: futura;
}

.CTA2 {
  position: absolute;
  font-size: 40px;
  max-width: 20%;
  text-align: right;
  margin-left: 400px;
  top: 530px;
  font-family: futura;
}

.CTA_color_1 {
  position: absolute;
  font-size: 40px;
  max-width: 20%;
  text-align: right;
  margin-left: -30px;
  font-family: futura;
  color: #ddd;
}

.CTA_color_2 {
  position: absolute;
  font-size: 40px;
  max-width: 20%;
  text-align: right;
  font-family: futura;
  color: #ddd;
}


.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.header {
  position: fixed;
  width: 100%;
  margin-top: 40px;
  overflow:hidden;
  z-index: 1;
  background: white;

}




.lines {
  font-size: 25px;
  text-align: center;
  position: relative;
  top:-20px;
}

.missing-words {
  color: red;
  font-family: futura;
  font-size: 10pt !important;
  font-weight: 200 !important;
  position: relative;
  top:-20px;
}


.navbar {
  background-color: #1572A1;
  position: fixed;
  z-index: 2;
  width: 100%;



}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}


.racket {
  max-width: 50%;
  max-height: 20%;
  margin-right: 1000px;
  margin-top: -20px;
}


.row {
  width: 100%;
  margin: 10px;
}


::selection {
  color: white;
  background: #4FBDBA;
}


.selector_small {
  background-color: #1572A1;
  font-size: 15px;
  width: 100%;
  position: relative;
  right:10px;
text-align: center;
padding:5px;
}

.source {
  width: 100%;
  text-align: center;
  background-color: #FF5959;
  color: white;


}


.textarea {
  font-size: 34px;
  font-family: roboto;
  text-align: center;
  max-width: 85%;
  height: 100px;
  margin-bottom: 64px;
  width: 993px;
  background-color: #7897AB;
  color: white;
  left: 19px;
  position: relative;
}



.translation {
  background-color: #4FBDBA;
  font-size: 20px;
  color: white;
  width: 78%;
  display: inline-table;
  font-family: Roboto !important;
  font-weight: 200 !important;
  position: relative;
  left:19px;
}

.transcript {
  width: 100%;
  font-family: Roboto !important;
  font-weight: 200 !important;
  margin-bottom: 200px;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
