a {
  color: white;
  text-decoration: none;
}

a:active {
  color:#FFC900;
}

a[tabindex1]:focus {
  color:#FFC900;
  outline:none;
}

a:visited {
  color:FFC900
}

audio {
  margin-top:-30px;
position:relative;
margin-right:800px;
left:30px;
  margin-bottom:35px;
  margin-right: 50px;

}

body {
  text-align: center;

  font-family: Roboto!important;
font-weight: 200!important
}

br {
  height: 10px;
}


.button_answers {
  border:1px solid black;
  font-size: 30px;
  padding:10px;
  color:white;
background-color: white;
cursor:help;
}

button {
  font-size: 20px;
  padding:10px;
  color:white;
background-color: white;
cursor:help;
}


button-clicked {
    background:gold;
}

button:focus{
    background:gold;
}


h1 {
font-family: futura;
  font-weight: 200 !important;
  color:black;
  font-size: 22px;
  margin-top:15px;
}

h2 {
  font-family: roboto;
  color: black;
}


h3 {
  margin: 4px;
}

h4 {
font-family:roboto;
}


ol, ul, li {
  list-style: none;
}

li {

  font-family: Roboto !important;
  font-size: 15pt !important;
font-weight: 200 !important;
text-align: center;
color:red;

padding-left: 10px;;

}


p {
  padding:1px;
  vertical-align: middle;
  margin-top: 0px;
}

table {
  table-layout: auto;
margin: auto;

}


.block {
width: auto;
display:inline-flex;
margin-left: 30px;
}




.center {
  margin: auto;
}

.content {
  position:absolute;
  width: 100%;
  margin-top: 320px;


}


.count{

width: 100%;
background-color: #24A19C;
color:white;
font-size: 12px;
margin_top:0px;

}

.CTA {
  position: absolute;
  font-size: 40px;
  max-width: 20%;
  text-align:right;
  margin-left: 900px;
top:500px;
font-family: futura;

}

.CTA2 {
  position: absolute;
  font-size: 40px;
  max-width: 20%;
  text-align:right;
  margin-left: 1000px;
top:530px;
font-family: futura;

}


.CTA_color_1 {
  position: absolute;
  font-size: 40px;
  max-width: 20%;
  text-align:right;
margin-left: -30px;

font-family: futura;
color:#ddd;
}


.CTA_color_2 {
  position: absolute;
  font-size: 40px;
  max-width: 20%;
  text-align:right;


font-family: futura;
color:#ddd;
}



.hide {
  height: 30px;
  width: 80;

}

.hide:hover {
  height: 120px;
  width: 150;
display:inline;
}



.gamerules {
  background-color:#CD1818;
  justify-content: center;
}


.gifts {
  display:block;

}

.gold {
  background-color:#4FBDBA;
}


.indeximg {
max-width: 50%;
max-height: 20%;
margin-right:1000px;

}

.lines {
  font-size: 20px;
text-align: center;




}




.missing-words {
  color: red;
   font-family: futura;
  font-size: 10pt !important;
font-weight: 200 !important;

}


.navbar {
  position: fixed;
  width: 100%;
  height:249px;

  overflow:hidden;
    z-index: 9999;
    background-color: white;

}

.invisible {
visibility: hidden;
}


.phantom_bar {
  height:22px;
  width: 100%;
  background-color: white;
  font-family: avenir;
  font-size: 12px;
}

.red{

  color:red;
}

.row {
  width: 100%;
  margin:10px;
}



.row_audio {
  width 30%;
  position:absolute;
  left:100px;
  text-align: left;
}

.selector {
  background-color:#11468F;

  justify-content: space-between;
padding-right: 25px;
padding:10px;
font-size: 13px;
width: 100%;

}

.selector_small {
  background-color:#1572A1;

padding-right: 25px;
padding:5px;
font-size: 11px;
width: 100%;
}


.selector_small_shows {
  background-color:#086E7D;

padding-right: 20px;
padding:5px;
font-size: 11px;
width: 100%;
}

.selector_small_movies {
  background-color:#676FA3;

padding-right: 20px;
padding:5px;
font-size: 11px;
width: 100%;
}





.source {
width: 100%;
text-align:center;
background-color:#DA1212;
color: white;
font-size: 15px;
font-family: avenir;
}



.speaker {
  font-size: 18px;
  font-family:futura;
  color: black;
}


.square {
    height: 65px;
    width: 65px;
  padding:0 10px;
}

.textarea {
  font-size: 34px;
  font-family: roboto;
  text-align: center;
  max-width: 55%;
height: 150px;
margin-bottom: 64px;
width: 600px;
background-color: #7897AB;
color:white;
left:20px;
position: relative;




}

.top {
  position: fixed;
}

.translation:hover {
  color:white;
}

.translation {
  background-color: #4FBDBA;
  font-size: 20px;
  color:white;
  width: 100%;
display: inline-table;
  font-family: Roboto !important;
  font-weight: 200 !important;
  position:relative;




}

.transcript {
width: 100%;
font-family: Roboto !important;
font-weight: 200 !important;
margin-bottom: 200px;
  font-size: 20px;



}


::selection {
  color: white;
  background: #4FBDBA;
}
