a {
  color: white;
  text-decoration: none;
}

a:active {
  color: #FFC900;
}

a[tabindex1]:focus {
  color: #FFC900;
  outline: none;
}

a:hover{
    color: #FFC900;
}

audio {
position:relative;
bottom:70px;
width:68%;
height:15px;

margin-bottom: -30px;

}

body {
  text-align: center;
  font-family: Roboto !important;
  font-weight: 200 !important;
  color: black;


}


button {
  font-size: 25px;
  padding: 10px;
  color: white;
  background-color: white;
}


button:focus {
  background: #4FBDBA;
  color:white;
}


h3 {
  margin: 4px;
  font-family: Roboto !important;
  font-size: 15pt !important;
  font-weight: 200 !important;
  margin-bottom:0;
}

img {
    max-width: 100%;
    max-height: 100%;
}



table {
  table-layout: auto;
  margin: auto;

}

.answer {
  background-color: #4FBDBA;
  color:#4FBDBA;
  border:none;
}


.below-nav {
  position: fixed;
  margin-top:-92px;
  left:16%;
  width:77%;
  z-index:2;
  background-color: white;
}

.block {
  width: auto;
  display: inline-flex;
  margin-left: 30px;
}

.box {
height:60px;
width: 60px;
margin-left: 10px;
margin-right:10px;
margin-top: 20px;
border-radius: 40px;


}


.boxes {
width: 100%;

margin-bottom: 250px;
}

.button_answers {
  border: 1px solid black;
  padding: 10px;
  color: white;
  background-color: #4FBDBA;

}

.center {
  margin:0 auto;
  max-width: 1960px;
}

.content {
  margin-top: 150px;
}

.count {
  width: 100%;
  background-color: #24A19C;
  color: white;
  font-size: 11px;

  text-align: center;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fixed-top {
position:fixed !important;
align-items: center;
background-color: white;
width: 100%;

}

.header {
height:190px;
width: 80%;
margin:auto;

}

.lines {
  font-size: 24px;
  text-align: center;
  position: relative;
  top:-20px;
  color:black;
}



.missing-words {
  color: red;
  font-family: futura;
  font-size: 14px !important;
  font-weight: 200 !important;
  position: relative;
  top:-20px;
}



.row {
  width: 100%;
  margin: 10px;
  display: inline-block;
}


.rules {
  height:24px;
  width: 20%;
  position: relative;
  top:50px;
  background-color: #11468F;
  margin:auto;
  text-align: center;
  font-family: montserrat;

}

::selection {
  color: white;
  background: #4FBDBA;
}


.selector_small {
  background-color: #1572A1;
  width: 88%;
  position: relative;
  text-align: center;
  padding:2px;

}


.source {
  background-color: #FF5959;
  color: white;
  width: 88%;
  padding:2px;

}


.textarea {
  font-size: 18px;
  font-family: roboto;
  text-align: center;
  height: 320px;
  margin-bottom: 34px;
  width:68%;
  background-color: #7897AB;
  color: white;

  position: relative;
}

.top-page {
  background-color: black;
}


.translation {
  background-color: #4FBDBA;
  font-size: 20px;
  color: #4FBDBA;
  width: 68%;
  display: inline-table;
  font-family: Roboto !important;
  font-weight: 200 !important;
  position: relative;

}

.transcript {
  width: 100%;
  font-family: Roboto !important;
  font-weight: 200 !important;

}
